* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: blueviolet;
    margin: 0;
}

img {
    max-width: 100%;
}

figure {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hotpink;
    max-width: 80vw;
    margin: 0 auto;
}

li {
    list-style: none;
    width: 20%;
    display: inline;
    border-right: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    padding: 10px 0px;
    margin: 0 auto;
    text-align: center;
}

li:first-child {
    border-left: none;
}

li:last-child {
    border-right: none;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: greenyellow;
    text-decoration: none;
}

#popup {
    display: none;
}

#template {
    display: none;
}

#movies {
    display: block;
}

#actors {
    display: none;
}

.active {
    background-color: lightgreen;
    padding: 5px 50px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
    grid-row-gap: 10px;
    grid-column-gap: 25px;
}

article {
    border: 1px solid #333;
    padding: 10px;
    border-radius: 10px;
}

article:hover {
    border: 1px solid black;
    background-color: greenyellow;
}

#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    overflow: scroll;
    display: none;
}

#popup article {
    width: 80vw;
    margin: 4rem auto;
    border-radius: 4px;
    padding: 20px;
    background-color: #fff;
    position: relative;
}

#luk {
    text-align: right;
}